#searchInput {
    display: block;
    text-align: center;
    margin: 50px auto 30px;
    width: 70%;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

#searchInput:focus {
    border: none;
}